:host {
    display: block;
}

header.glass {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

input:focus {
    box-shadow: 0 0 0 4px rgba(49, 103, 209, 0.05);
}

::ng-deep .mat-mdc-menu-panel.rounded-3xl {
    border-radius: 24px !important;
}

::ng-deep .mat-mdc-menu-panel.rounded-\[2rem\] {
    border-radius: 32px !important;
}